*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Arial, sans-serif;
}

body{
    background:#0a0014;
    color:white;
    opacity:0;
    transition:.6s ease;
}

body.page-loaded{
    opacity:1;
}


header{
    text-align:center;
    padding:70px 25px;
    background:#14002b;
    box-shadow:0 0 25px rgba(180,0,255,.6);
}

header h1{
    font-size:36px;
    letter-spacing:2px;
    text-shadow:0 0 20px rgba(204,0,255,.9);
}

header p{
    margin-top:8px;
    color:#ffdeff;
}


.menu{
    text-align:center;
    padding:18px;
    background:#0c0020;
    box-shadow:inset 0 0 25px rgba(150,0,255,.5);
}

.menu a{
    color:#f9e6ff;
    text-decoration:none;
    margin:0 10px;
    padding:10px 18px;
    border-radius:20px;
    transition:.3s;
}

.menu a:hover,
.menu a.active{
    background:#4d0099;
    box-shadow:0 0 16px rgba(200,0,255,.9);
}

.about,
.contact,
.project-section{
    max-width:900px;
    margin:auto;
    padding:55px 25px;
    line-height:1.8;
}


.portfolio{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-top:20px;
}

.card{
    background:#17002b;
    border-radius:18px;
    padding:12px;
    opacity:0;
    transform:translateY(30px);
    transition:.6s ease;
    border:1px solid rgba(200,0,255,.4);
    box-shadow:0 0 15px rgba(150,0,255,.3);
}

.card.show{
    opacity:1;
    transform:translateY(0);
}

.card img{
    width:100%;
    border-radius:14px;
    cursor:pointer;
    box-shadow:0 0 18px rgba(200,0,255,.35);
}

.card:hover{
    transform:translateY(-7px);
    box-shadow:0 0 30px rgba(255,0,255,.7);
}


.lightbox{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(10,0,25,.9);
    z-index:999;
}

.lightbox img{
    max-width:85%;
    max-height:85%;
    border-radius:16px;
    box-shadow:0 0 40px rgba(255,0,255,.9);
}


form{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

input,textarea{
    padding:10px;
    border-radius:10px;
    border:1px solid rgba(255,0,255,.5);
    background:#0d001f;
    color:white;
}

input:focus,
textarea:focus{
    outline:none;
    box-shadow:0 0 18px rgba(255,0,255,.8);
}

button{
    padding:10px;
    border-radius:12px;
    border:none;
    background:#a100ff;
    color:white;
    cursor:pointer;
    box-shadow:0 0 18px rgba(200,0,255,.8);
}

button:hover{
    background:#d000ff;
}


footer{
    text-align:center;
    padding:18px;
    color:#ffdfff;
    margin-top:40px;
    background:#190030;
    box-shadow:0 0 25px rgba(200,0,255,.8);
}


.top-btn{
    position:fixed;
    bottom:25px;
    right:25px;
    padding:12px 15px;
    border:none;
    border-radius:50%;
    font-size:18px;
    display:none;
    background:#a200ff;
    color:white;
    cursor:pointer;
    box-shadow:0 0 25px rgba(220,0,255,.9);
}

.top-btn:hover{
    background:#d500ff;
}